compose/n8n/workflows/n8n-mas-health-check.json
{
    "id": "HealthCheckFinal01",
    "versionId": "7b432e5c-196d-4633-aa28-69b7d5bcd3f2",
    "active": false,
    "name": "MAS - Proactive Health Check & Report",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "name": "Manual Trigger"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutes": 1
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                0,
                200
            ],
            "name": "Every Minute"
        },
        {
            "parameters": {
                "url": "https://inlock.ai",
                "options": {
                    "timeout": 5000,
                    "fullResponse": true
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                220,
                0
            ],
            "name": "Check Homepage",
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://n8n.inlock.ai/healthz",
                "options": {
                    "timeout": 5000,
                    "fullResponse": true
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                220,
                150
            ],
            "name": "Check N8N",
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://mail.inlock.ai",
                "options": {
                    "timeout": 5000,
                    "allowUnauthorizedCerts": true,
                    "fullResponse": true
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                220,
                300
            ],
            "name": "Check Mailcow",
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const checks = [\n  { name: 'Check Homepage', item: $('Check Homepage').first() },\n  { name: 'Check N8N', item: $('Check N8N').first() },\n  { name: 'Check Mailcow', item: $('Check Mailcow').first() }\n];\n\nconst failures = [];\n\nfor (const check of checks) {\n  const item = check.item;\n\n  // Default status to 503 if missing (Network Error)\n  let status = 503;\n  if (item && item.json && (item.json.statusCode || item.json.status)) {\n      status = item.json.statusCode || item.json.status;\n  }\n\n  if (status != 200 && status != 302) {\n     failures.push(`${check.name} Failed (Status: ${status})`);\n  }\n}\n\nconst isHealthy = failures.length === 0;\nconst summary = isHealthy ? 'All Systems Operational' : 'Failures detected: ' + failures.join(', ');\n\nreturn {\n  isHealthy,\n  summary,\n  content: 'ALERT: ' + summary + '. Please investigate.'\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                500,
                100
            ],
            "name": "Analyze Health"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "health-check-trigger",
                "options": {}
            },
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                400
            ]
        },
        {
            "parameters": {
                "mode": "append"
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2,
            "position": [
                400,
                100
            ],
            "name": "Merge Checks"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.isHealthy }}",
                            "value2": true
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                700,
                100
            ],
            "name": "Healthy?"
        },
        {
            "parameters": {
                "fromEmail": "n8n@inlock.ai",
                "toEmail": "admin@inlock.ai",
                "subject": "[Inlock AI] System Status: HEALTHY - {{ $today }}",
                "text": "REPORT SUMMARY:\n------------------\nStatus: ✅ All Systems Operational\nTime: {{ $now }}\n\nCHECKS PERFORMED:\n- Homepage: 200 OK\n- N8N: 200 OK\n- Mailcow: 200/302 OK\n\nNo action required.",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                950,
                0
            ],
            "name": "Send OK Email",
            "credentials": {
                "smtp": {
                    "id": "skDmYZMZsDC0LGBI",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "workflowId": "Ye59RRawBWBVKle2"
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                950,
                250
            ],
            "name": "Call Supervisor",
            "notes": "Passes 'content' (the failure summary) to Supervisor."
        },
        {
            "parameters": {
                "content": "## Re-Check (The 'After')\nWe wait 30s for the fix to take effect, then check again.",
                "height": 100
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1150,
                200
            ],
            "name": "Note"
        },
        {
            "parameters": {
                "amount": 30,
                "unit": "seconds"
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1150,
                250
            ],
            "name": "Wait for Fix"
        },
        {
            "parameters": {
                "url": "https://inlock.ai",
                "options": {
                    "timeout": 5000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1350,
                250
            ],
            "name": "Re-Check Homepage",
            "continueOnFail": true
        },
        {
            "parameters": {
                "fromEmail": "n8n@inlock.ai",
                "toEmail": "admin@inlock.ai",
                "subject": "[Inlock AI] System Status: CRITICAL - Incident Detected",
                "text": "REPORT SUMMARY:\n------------------\nStatus: ⚠️ Issues Detected\nTime: {{ $now }}\n\nINITIAL FAILURE:\n{{ $('Analyze Health').item.json.summary }}\n\nAUTOMATED RESPONSE:\n{{ $('Call Supervisor').item.json.message.content || 'Supervisor investigation completed.' }}\n\nCURRENT STATUS (After Fix Attempt):\nHomepage: {{ $json.status || 'Still Failing' }}\n\nACTION REQUIRED:\nPlease log in to the dashboard to verify.",
                "options": {}
            },
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                1600,
                250
            ],
            "name": "Send Incident Report",
            "credentials": {
                "smtp": {
                    "id": "skDmYZMZsDC0LGBI",
                    "name": "SMTP account"
                }
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Check Homepage",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check N8N",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check Mailcow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Check Homepage",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check N8N",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check Mailcow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Homepage": {
            "main": [
                [
                    {
                        "node": "Merge Checks",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check N8N": {
            "main": [
                [
                    {
                        "node": "Merge Checks",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Check Mailcow": {
            "main": [
                [
                    {
                        "node": "Merge Checks",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Analyze Health": {
            "main": [
                [
                    {
                        "node": "Healthy?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Healthy?": {
            "main": [
                [
                    {
                        "node": "Send OK Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Call Supervisor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Supervisor": {
            "main": [
                [
                    {
                        "node": "Wait for Fix",
                        "type": "main",
                        "index": 0
                    }
                ],
                [],
                [
                    {
                        "node": "Wait for Fix",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for Fix": {
            "main": [
                [
                    {
                        "node": "Re-Check Homepage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Re-Check Homepage": {
            "main": [
                [
                    {
                        "node": "Send Incident Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Checks": {
            "main": [
                [
                    {
                        "node": "Analyze Health",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}